<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission-sdk-23 android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" android:maxSdkVersion="32" />
  <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
  <application>
    <receiver android:exported="false" android:name="com.unity.androidnotifications.UnityNotificationManager" />
    <receiver android:exported="false" android:name="com.unity.androidnotifications.UnityNotificationRestartReceiver">
      <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
      </intent-filter>
    </receiver>
    <meta-data android:name="com.unity.androidnotifications.exact_scheduling" android:value="1" />
  </application>
</manifest>